In [ ]:
# Goals: Grab Link and Label

In [1]:
import pandas as pd
from sklearn import tree
import eli5

ModuleNotFoundError: No module named 'eli5'

In [20]:
!wget 'https://research.aalto.fi/files/16859732/urlset.csv.zip' -O 'dataset.zip'

--2022-02-04 17:46:14--  https://research.aalto.fi/files/16859732/urlset.csv.zip
Resolving research.aalto.fi (research.aalto.fi)... 34.248.98.230, 34.253.178.11
Connecting to research.aalto.fi (research.aalto.fi)|34.248.98.230|:443... connected.
HTTP request sent, awaiting response... 302 302
Location: https://acris.aalto.fi/ws/portalfiles/portal/16859732/urlset.csv.zip [following]
--2022-02-04 17:46:15--  https://acris.aalto.fi/ws/portalfiles/portal/16859732/urlset.csv.zip
Resolving acris.aalto.fi (acris.aalto.fi)... 130.233.208.8
Connecting to acris.aalto.fi (acris.aalto.fi)|130.233.208.8|:443... connected.
HTTP request sent, awaiting response... 200 200
Length: unspecified [multipart/x-zip]
Saving to: ‘dataset.zip’

dataset.zip             [       <=>          ]   3.24M   444KB/s    in 9.3s

2022-02-04 17:46:25 (358 KB/s) - ‘dataset.zip’ saved [3400239]

In [21]:
!unzip dataset.zip

Archive:  dataset.zip
  inflating: urlset.csv

In [27]:
dataset = pd.read_csv('urlset.csv',encoding_errors='ignore',on_bad_lines='skip')

/tmp/ipykernel_89/1014615380.py:1: DtypeWarning: Columns (1,2,3,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv('urlset.csv',encoding_errors='ignore',on_bad_lines='skip')

In [29]:
dataset.head()

,domain,ranking,mld_res,mld.ps_res,card_rem,ratio_Rrem,ratio_Arem,jaccard_RR,jaccard_RA,jaccard_AR,jaccard_AA,jaccard_ARrd,jaccard_ARrem,label
0,nobell.it/70ffb52d079109dca5664cce6f317373782/...,10000000,1.0,0.0,18.0,107.611111,107.277778,0.0,0.0,0.0,0.0,0.8,0.795729,1.0
1,www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...,10000000,0.0,0.0,11.0,150.636364,152.272727,0.0,0.0,0.0,0.0,0,0.768577,1.0
2,serviciosbys.com/paypal.cgi.bin.get-into.herf....,10000000,0.0,0.0,14.0,73.500000,72.642857,0.0,0.0,0.0,0.0,0,0.726582,1.0
3,mail.printakid.com/www.online.americanexpress....,10000000,0.0,0.0,6.0,562.000000,590.666667,0.0,0.0,0.0,0.0,0,0.85964,1.0
4,thewhiskeydregs.com/wp-content/themes/widescre...,10000000,0.0,0.0,8.0,29.000000,24.125000,0.0,0.0,0.0,0.0,0,0.748971,1.0

In [31]:
dataset.describe()

,card_rem,ratio_Rrem,ratio_Arem,jaccard_RR,jaccard_RA,jaccard_AR,jaccard_AA,label
count,95923.000000,95923.000000,95923.000000,95922.000000,95921.000000,95920.000000,95919.000000,95913.000000
mean,4.580498,135.255201,138.544211,0.005030,0.003787,0.003378,0.003661,0.499453
std,4.466073,160.988895,175.480485,0.311308,0.024815,0.024011,0.028492,0.500002
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,43.000000,39.666667,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,104.000000,103.333333,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6.000000,174.142857,178.292857,0.000000,0.000000,0.000000,0.000000,1.000000
max,187.333333,5507.000000,6097.000000,96.000000,1.000000,1.000000,1.000000,1.000000

In [32]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96003 entries, 0 to 96002
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   domain         96002 non-null  object
 1   ranking        95951 non-null  object
 2   mld_res        95935 non-null  object
 3   mld.ps_res     95924 non-null  object
 4   card_rem       95923 non-null  float64
 5   ratio_Rrem     95923 non-null  float64
 6   ratio_Arem     95923 non-null  float64
 7   jaccard_RR     95922 non-null  float64
 8   jaccard_RA     95921 non-null  float64
 9   jaccard_AR     95920 non-null  float64
 10  jaccard_AA     95919 non-null  float64
 11  jaccard_ARrd   95919 non-null  object
 12  jaccard_ARrem  95917 non-null  object
 13  label          95913 non-null  float64
dtypes: float64(8), object(6)
memory usage: 10.3+ MB

In [39]:
dataset1=dataset[['domain','label']]

In [ ]:
dataset1['domain_len'] = dataset1['domain'].apply(lambda x )

In [42]:
dataset1[dataset1['domain'].apply(lambda x: isinstance(x,float))]

      domain  label
18251    NaN    NaN

In [43]:
# Clean the Data
dataset1 = dataset1.dropna()

In [44]:
dataset1['domain_len'] = dataset1['domain'].apply(lambda x: len(x))

In [45]:
dataset1.head()

                                              domain  label  domain_len
0  nobell.it/70ffb52d079109dca5664cce6f317373782/...    1.0         225
1  www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...    1.0          81
2  serviciosbys.com/paypal.cgi.bin.get-into.herf....    1.0         177
3  mail.printakid.com/www.online.americanexpress....    1.0          60
4  thewhiskeydregs.com/wp-content/themes/widescre...    1.0         116

In [48]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(dataset1[['domain_len']],dataset1['label'])

In [50]:
clf.predict([dataset1[['domain_len']].iloc[0]])

/opt/conda/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

ValueError: could not convert string to float: 'nobell.it/70ffb52d079109dca5664cce6f317373782/login.SkyPe.com/en/cgi-bin/verification/login/70ffb52d079109dca5664cce6f317373/index.php?cmd=_profile-ach&outdated_page_tmpl=p/gen/failed-to-load&nav=0.5.1&login_access=1322408526'

In [53]:
dataset1[['domain']].iloc[0].values

array(['nobell.it/70ffb52d079109dca5664cce6f317373782/login.SkyPe.com/en/cgi-bin/verification/login/70ffb52d079109dca5664cce6f317373/index.php?cmd=_profile-ach&outdated_page_tmpl=p/gen/failed-to-load&nav=0.5.1&login_access=1322408526'],
      dtype=object)

In [55]:
dataset1[['domain_len']].iloc[0].values.tolist()

[225]